body {
    background-image: url("http://www.psdgraphics.com/file/abstract-mosaic-background.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    margin-right: 0px;
    opacity: .99;
    background-attachment: fixed;
}

div {
  background-color: white;
}

.important {
  color: darkblue
}

.unimportant {
  color: skyblue
}

.sport {
  text-decoration: underline;
}

.column {
  width: 30%;
  float: left;
}

.block {
  border-color: blue;
  border-width: medium;
}

.truth {
  border: 2px blue;
  padding: 4px;
  margin: 10px;
  background-color: skyblue;
}

.truth1 {
  font-weight: lighter;
}

.truth2 {
  font-weight: bolder;
}

.truth p a {
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
}
